@{
    ViewData["Title"] = "O aplikaci";
}

<div id="info">
    <h2>Zdroj dat</h2>
    <p>Všechna data o počtech obyvatel pochází ze stránek Českého statistickéh úřadu. Data v původní podobě si můžete stáhnout na stránce <a href="https://www.czso.cz/csu/czso/pocet-obyvatel-v-obcich">https://www.czso.cz/csu/czso/pocet-obyvatel-v-obcich</a>. Data jsou aktualizována každý rok ke konci dubna.</p>
    <br />
    <h2>Co dělat pokud je na stránce chyba?</h2>
    <p>
        Pokud jste na stránce objevili chybu, dejte mi prosím vědět na mail <a href="mailto:ja@martinbartos.info">ja@martinbartos.info</a> nebo chybu zaevidujte na <a href="https://github.com/svarnyjunak/obyvateleceska/issues/new">Githubu</a>.
    </p>
</div>

