@{
    ViewData["Title"] = "Home Page";
}


<style>
    .chart {
        margin: 5px;
    }
    .chart div {
        font: 10px sans-serif;
    }

    .chart div span {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        margin-left: 5px;
        color: white;
        display: inline-block;
        width: 0;
        transition: background .5s ease-out;
    }

    .chart div span:hover {
        background-color: lightsteelblue;
    }
</style>

<div class="chart">
</div>

<script src="~/js/chart.min.js" asp-append-version="true"></script>
