@{
    ViewData["Title"] = "Home Page";
}

@model SvarnyJunak.CeskeObce.Web.Models.MunicipalityPopulationProgressModel

@using (Html.BeginForm("SelectMunicipality", "Home", FormMethod.Post, new { id = "select-municipality-form" }))
{
    <label for="municipalityName">
        <strong>Zadejte název obce:</strong>
    </label><br />
    <input id="municipality-search" type="text" name="municipalityName" />

    <h1>Vývoj počtu obyvatel v obci @Model.Municipality.Name, @Model.Municipality.DistrictName</h1>
    <div class="chart">

    </div>

    <table class="data-population-progress">
        <thead>
            <tr>
                <th>Rok</th>
                <th>Počet obyvatel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var snapshot in Model.PopulationProgress)
            {
                <tr>
                    <td class="year">@snapshot.Year</td>
                    <td class="count">@snapshot.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

<script src="~/js/chart.min.js" asp-append-version="true"></script>
