/*@-ms-viewport {
    width: device-width;
}*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    border-bottom: 2px dashed #011888;
}

    header a {
        text-decoration: none;
        padding-left: 1em;
        padding-right: 1em;
    }

    header h2 {
        display: inline;
        line-height: 2em;
        color: #011888;
    }

    header nav {
        align-self: center;
    }

@media (min-width: 400px) {
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    }
}

h1 {
    font-weight: normal;
    margin-bottom: .2em;
 }

h2 {
    font-weight: inherit;
    font-size: 1.75em;
}

a {
    color: #011888;
}

p {
    max-width: 600px;
}

input {
    max-width: 350px;
    padding: .3em;
    font-size: 16px;
    box-sizing: border-box;
}

    input[type=text] {
        width: 100%;
    }

@media (min-width: 501px), (min-height: 701px) {
    .grid {
        width: 100%;
        margin-top: 1em;
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-template-areas:
            "a b";
    }

        .grid main {
            grid-area: a;
        }

        .grid #map-canvas-container {
            height: 0px;
            grid-area: b;
        }
}

.content {
    margin: 2em;
}

@media (max-width: 500px), (max-height: 700px) {
    #map-canvas-container {
        visibility: hidden;
    }

    main {
        margin-top: 1em;
    }
}

.autocomplete-suggestions .autocomplete-suggestion {
    line-height: 3em;
}

.chart {
    margin: 5px;
}

    .chart thead {
        display: none;
    }

    .chart td {
        font: 14px sans-serif;
        margin-bottom: 3px;
    }

    .chart .year-caption {
        width: 3em;
        display: inline-block;
    }

    .chart .bar {
        background-color: #4559c3;
        text-align: right;
        padding: 3px;
        white-space: nowrap;
        color: white;
        display: inline-block;
        width: 0;
        transition: background 0.5s ease-out;
    }

        .chart .bar:hover {
            background-color: #5f75e4;
        }

.labels {
    margin-top: 3em;
}

.label {
    background: #4559c3;
    color: white;
    padding: .4em;
    border-radius: .4em;
    white-space: nowrap;
    line-height: 2em;
    text-decoration: none;
}

    .label:hover {
        background: #5f75e4;
    }

.validation-summary-errors {
    color: red;
    margin-top: 0.5em;
}

    .validation-summary-errors ul {
        padding: 0;
        margin: 0;
    }

    .validation-summary-errors li {
        list-style-type: none;
    }

#select-municipality-form {
    margin-top: 1em;
}
